target/
# WoW Assets
*.MPQ
*.m2
*.wdt
*.wmo
*.wdl
*.adt
*.BLP
*.skin
.idea/
sargerust-files/test-data
# Intel V-Tune Profiling data
vtune/
# listfiles of MPQs
*.MPQ.txt

# Both: NVidia NSight Profiling
nsight/
imgui.ini